*~
*.lo
*.la

build/
.libs/
autom4te.cache/
modules/

tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh

Makefile*
configure*
libtool
ltmain.sh
missing
mkinstalldirs
install-sh
aclocal.m4
acinclude.m4
.deps

config*
!config.m4
!config.w32
